{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {#    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="{% url 'blogs_list' %}">All Blogs</a>
            <a href="{% url 'post_add' %}" class="btn btn-success">Create Post</a>
            {% if user.is_active %}
                <a href="{% url 'blog_posts' user.id %}" class="btn btn-success">View My Posts</a>
                <a href="{% url 'news_feed' %}" class="btn btn-warning">News Feed</a>
                <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
                <b class="navbar-right blog-nav-item">Logged as: {{ user.first_name }}</b>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
            {% endif %}
        </nav>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{# Main content goes here #}
{% block content %}
{% endblock %}

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Some JS Helpers -->
<script src="{% static 'js/helper.js' %}"></script>
</body>
</html>
