{% extends 'blogs_app/base.html' %}
{% load staticfiles %}

{% block head_title %}Avalable Blogs For Reading{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Avalable Blogs For Reading</h1>
            <p class="lead blog-description">Choose one and enjoy reading.</p>
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for blog in object_list %}
                    <h2><a href="{% url 'blog_posts' blog.id %}">{{ blog.username|capfirst }}'s Blog</a></h2>
                {% endfor %}
            </div>

         {% include "blogs_app/sidebar.html" %}

        </div>
    </div><!-- /.container -->
{% endblock %}