{% extends 'blogs_app/base.html' %}
{% load staticfiles %}

{% block head_title %}{{ user.first_name|capfirst }}'s News Feed{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ user.first_name|capfirst }}'s News Feed</h1>
            <p class="lead blog-description">Here you can see all posts from blogs you subscribed on.</p>
            {#        If currently logged in user is not owner of the blog the he can subscribe #}
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for rss_row in object_list %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{% url 'post_detail' rss_row.post.blog.id rss_row.post.pk %}">{{ rss_row.post.title }}</a>
                        </h2>
                        {% if not rss_row.read %}
                            <div id="label_new_post_{{ rss_row.pk }}" onclick="mark_post_as_read({{ rss_row.pk }})">
                                <span class="label label-info">New</span>
                                <button class="btn btn-primary btn-xs">Mark as read</button>
                            </div>
                        {% else %}
                            <span class="label label-default" id="button">Read</span>
                        {% endif %}
                        <p class="blog-post-meta">{{ rss_row.post.created }} by <a href="{% url 'blog_posts' rss_row.post.blog.id %}">{{ rss_row.post.blog.first_name|capfirst }}</a></p>
                        <p>
                            {{ rss_row.post.content }}
                        </p>
                    </div><!-- /.blog-post -->
                {% empty %}
                    <h2>No new posts yet.</h2>
                {% endfor %}

                <nav>
                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>

            </div><!-- /.blog-main -->

            {% include "blogs_app/sidebar.html" %}

        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}