{% extends 'blogs_app/base.html' %}
{% load staticfiles %}

{% block head_title %} My Blog {% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ post.blog.title|capfirst }}</h1>
            <p class="lead blog-description">Add new great post to your blog.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">

                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save" />
                </form>

            </div><!-- /.blog-main -->

         {% include "blogs_app/sidebar.html" %}

        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}