{% extends 'blogs_app/base.html' %}
{% load staticfiles %}

{% block head_title %}{{ user.first_name|capfirst }}'s Blog{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ blog_owner.first_name|capfirst }}'s Blog</h1>
            <p class="lead blog-description">Some author description about current blog.</p>
            {#        If currently logged in user is not owner of the blog the he can subscribe #}
            {% if blog_owner != user %}
                {% if user.is_active and already_subscribed %}
                    <a href="{% url 'blog_unsubscribe' blog_owner.id %}" class="btn btn-warning">Unubscribe</a>
                {% else %}
                    <a href="{% url 'blog_subscribe' blog_owner.id %}" class="btn btn-warning">Subscribe</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for post in object_list %}
                    <div class="blog-post">
                        <h2 class="blog-post-title"><a href="{% url 'post_detail' blog_owner.id post.pk %}">{{ post.title }}</a></h2>
                        <p class="blog-post-meta">{{ post.created }} by <a href="{% url 'blog_posts' blog_owner.id %}">{{ blog_owner.first_name|capfirst }}</a></p>
                        <p>
                            {{ post.content }}
                        </p>
                    </div><!-- /.blog-post -->
                {% empty %}
                    <h2>No articles yet.</h2>
                {% endfor %}

                <nav>
                    <ul class="pager">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>

            </div><!-- /.blog-main -->

            {% include "blogs_app/sidebar.html" %}

        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}