{% extends 'blogs_app/base.html' %}
{% load staticfiles %}

{% block head_title %}{{ post.blog.first_name|capfirst }}'s Blog{% endblock %}

{% block content %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ post.blog.first_name|capfirst }}'s Blog</h1>
            <p class="lead blog-description">Some author description about current blog.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                    <p class="blog-post-meta">{{ post.created }} by <a href="#">{{ post.blog.first_name }}</a></p>
                    <p>
                        {{ post.content }}
                    </p>
                </div>
                {% if user == post.blog%}
                    <a href="{% url 'post_edit' post.id %}" class="btn btn-danger">Edit Post</a>
                {% endif %}
                <!-- /.blog-post -->
            </div><!-- /.blog-main -->

         {% include "blogs_app/sidebar.html" %}

        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}