{% block sidebar %}

    {% if user.is_active %}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4>My Subscriptions</h4>
                <ol class="list-unstyled">
                    {% for subscription in user.subscriber.all %}
                    <li><a href="{% url 'blog_posts' subscription.subscribed_to.id %}">{{ subscription.subscribed_to }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>My Subscribers</h4>
                <ol class="list-unstyled">
                    {% for subscriber in user.subscribed_to.all %}
                    <li><a href="{% url 'blog_posts' subscriber.subscriber.id %}">{{ subscriber.subscriber }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->
    {% endif %}

{% endblock %}
