<!DOCTYPE html>
<html>
<body>
<h2>Hi, {{ subscriber_name }}.</h2>

<p>
    We just want inform you about new "{{ subscription_post_name }}" post was published
    on {{ subscription_blog_name }}'s Blog at <a href="http://{{ website_domain }}">{{ website_domain }}</a>.
</p>
<p>
    Here is a <a href="http://{{ website_domain }}/blog/{{ subscription_blog_id }}/{{ subscription_post_id }}/">
    link to a new post</a>. Read it and enjoy ;)
</p>
<p>Bye, bye.</p>
</body>
</html>